<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Photos</title>
    <style>
      body{
        background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-beautiful-technology-website-business-poster-background-template-image_148436.jpg');
        background-repeat: no-repeat;
        background-size: 1700px 1500px;
      }
      </style>
  </head>
  <body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <label for="img">Image to Upload :</label>
        <input type="file" id="img" name="img" accept="image/*" />
        <br>
        
        <h4> Description : </h4><br>
        <textarea id="w3review" name="description" rows="4" cols="50"></textarea>
        <input value="Upload" type="submit">
        
        </input>
        </center>
    </form>
  </body>
</html>
