{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div style="text-lighten-2">
        <div class="input-field col s12">
          
          <h5 class="input-field col s12"> Image to Upload : </h5><br>
          <br>
          <br>
          <center>
            <input type="file" id="img" name="img" accept="image/*"/>
          </center>          
        </div>
        <div class="input-field col s12">
          
        <h5 class="input-field col s12"> Description : </h5><br>
        <textarea id="w3review" name="description" ></textarea>
        <!-- <input value="Upload" type="submit"> -->
        </div>
        <center>
          <button class="btn waves-effect waves-light" type="submit">
            Submit
            <i class="material-icons right">send</i>
          </button>
        </center>
        <br />
        
      </div>
    </form>
  </div>
</div>


{% endblock content %}
