{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <form class="col s6 offset-s3" id="order" action="" method="POST">
      {% csrf_token %}
      <center>
        <!-- <h4>Order Id : #{{n}}</h4> -->
        {% if msg %} {{ msg }} {% endif %}
      </center>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">shopping_cart</i>
          <input
            id="icon_prefix password"
            name="orderid"
            type="text"
            value="#{{n}}"
          />
          <label for="icon_prefix">Order ID </label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input
            id="icon_prefix email"
            name="email"
            type="email"
            class="validate"
            value="{{user.email}}"
          />

          <label for="icon_prefix">E mail</label>

          <!-- <span
            class="helper-text"
            data-error="Incorrect email format"
            data-success=""
          ></span> -->
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input
            id="icon_prefix password"
            name="phnum"
            type="text"
            value="{{user.phnum}}"
          />
          <label for="icon_prefix">Phone Number</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          <input
            id="icon_prefix password"
            name="fullname"
            type="text"
            value="{{data.first_name}} {{data.last_name}}"
          />
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          <input
            id="icon_prefix password"
            name="category"
            type="text"
            value="{{data.category}}"
            required
          />
          <label for="icon_prefix">Category</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">location_on</i>
          <input
            id="icon_prefix password"
            name="location"
            type="text"
            required
          />
          <label for="icon_prefix">For which Loaction ??</label>
        </div>

        <center>
          <button class="btn waves-effect waves-light" type="submit">
            Submit
            <i class="material-icons right">send</i>
          </button>
        </center>
        <br />
        <center>
          <!-- <a class="blue-text waves-effect waves-teal btn-flat" href="/signup"
              >Don't have an account? Register now</a
            > -->
        </center>
      </div>
    </form>
  </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  document.getElementById("order").onsubmit = show;
  function show(e){
    e.preventDefault();
    swal({
      title: "Are you sure?",
      text: "Once Ordered, you will not be able to cancle this order",
      icon: "warning",
      buttons: ["Cancle" , "Order"],
      dangerMode: true,
    })
    .then((confirm) => {  
      if (confirm) {
        document.getElementById("order").submit(); 
      }
    });
  }
</script>

<!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div> -->

{% endblock content %}
